# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Eclipse
.cproject
.project
.settings/

# Python
.pyc
__pycache__/
/tmp/
.cache/

# testdir
/itest/testdir/
/itest/testdir.backup/

# Visual Studio Code
.vscode/

# Python building
connectors/python3/build/
connectors/python3/*-info/
connectors/python3/dist/

# Go test build
connectors/go/test/test

# Backup git
.git-old/

# Kubernetes files
kube/

# Local files
target/

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

# Build
thingsdb
Debug/
build/

# libwebsockets build
libwebsockets-build/
libwebsockets/.gitignore
libwebsockets/CTestTestfile.cmake
libwebsockets/DartConfiguration.tcl
libwebsockets/LibwebsocketsTargets.cmake
libwebsockets/LwsCheckRequirements.cmake
libwebsockets/lib/CTestTestfile.cmake
libwebsockets/lib/core-net/CTestTestfile.cmake
libwebsockets/lib/core/CTestTestfile.cmake
libwebsockets/lib/event-libs/CTestTestfile.cmake
libwebsockets/lib/event-libs/libuv/CTestTestfile.cmake
libwebsockets/lib/event-libs/poll/CTestTestfile.cmake
libwebsockets/lib/misc/CTestTestfile.cmake
libwebsockets/lib/plat/unix/CTestTestfile.cmake
libwebsockets/lib/roles/CTestTestfile.cmake
libwebsockets/lib/roles/h1/CTestTestfile.cmake
libwebsockets/lib/roles/h2/CTestTestfile.cmake
libwebsockets/lib/roles/http/CTestTestfile.cmake
libwebsockets/lib/roles/listen/CTestTestfile.cmake
libwebsockets/lib/roles/raw-file/CTestTestfile.cmake
libwebsockets/lib/roles/raw-skt/CTestTestfile.cmake
libwebsockets/lib/roles/ws/CTestTestfile.cmake
libwebsockets/lib/secure-streams/CTestTestfile.cmake
libwebsockets/lib/secure-streams/serialized/client/CTestTestfile.cmake
libwebsockets/lib/system/CTestTestfile.cmake
libwebsockets/lib/system/metrics/CTestTestfile.cmake
libwebsockets/lib/system/smd/CTestTestfile.cmake
libwebsockets/lib/tls/CTestTestfile.cmake
libwebsockets/libwebsockets-config-version.cmake
libwebsockets/libwebsockets-config.cmake
libwebsockets/libwebsockets_static.pc
libwebsockets/lws_config.h
libwebsockets/lws_config_private.h
libwebsockets/lwsws/CTestTestfile.cmake
libwebsockets/plugins/CTestTestfile.cmake
