name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libuv1-dev libpcre2-dev libyajl-dev libcurl4-openssl-dev valgrind
      - name: Run tests
        run: |
          cd ./test/
          ./test.sh
      - name: Compile code
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug .
          make
